body{
    
    background: url(./bilder/landscape.jpg);
} 
h1{
  font: 70px serif;
  color: #fff;
  font-style: italic;
  text-transform: uppercase;
  text-shadow: 2px 2px 0 #000000;
  margin-left: 100px;
}
h2{
margin-left: 100px;
font: 20px serif;
color: #fff;
font-style: italic;
text-shadow: 100px;
}
p{
font: 20px serif;
color: #ffffff;
font-style: italic;
margin-left: 100px;
padding: 30px;
text-shadow: 1px 1px 0 #3a3a3a;
background-color: #13447ca8;
border: 3px solid #15467ecf;
width: 550px;
border-radius: 5px;
}
img{
    width: 100px;
    margin-left: 100px;

}
